/*These are the overall styles*/
* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    cursor:pointer;
}

ul
{
    list-style-type: none;
    text-align: left;
    font-size: 20px;
    padding-left: 100px;
    margin-top: 30px;

}

ol, ul {
    margin-top: 100px;
    margin-bottom: 10px;
}

h6{
margin-top: 60px;
font-size: 20px;
color:#FF9800;

}
/*The following  are the styles for the homepage*/

#homepage {
    height: 100vh;
    background: url(url(./public/pics/background.jpg);
    background-size: cover;
    color: white;
    text-align: center
}

h1 {
    margin: 0px 0 0 0;
    padding-top: 15%;
    font-size: 60px;
    text-shadow: 2px 2px black;
}

#homepage p {
    margin: 40px;
    font-size: 30px;
    text-shadow: 2px 2px black;
}

button {
    width: 120px;
    height: 50px;
    border-radius: 5px;
    font-size: 20px;
    border: 0;
    background-color: #FFBF00;
    margin-top: 20px;
    color: black;
    box-shadow: 2px 2px 1px black;
}
/*The following is the styles for the lessonFlow part*/

#lessonFlow {
    height: 100vh;
    text-align: center;
    padding-top: 60px;
    font-size: 40px;
}

#lessonFlow h2{
font-size: 60px;
color:#FF9800;
margin-bottom: -50px;
    text-shadow: 2px 2px black;


}

#factPic,
#errorPic,
#doPic {
    width: 100%;
    height: 100%;
    border-radius: 30%;
}

#slogan .col-md-4:last-child {
    margin-left: -15px;
}

/*This is the code I found online to achieve the flip effect*/

/* entire container, keeps perspective */

#lessonFlow .flip-container {
    perspective: 1000;
    margin: 0 auto;
    margin-top: 60px;
}


/* flip the pane when hovered */

#lessonFlow .flip-container:hover .flipper,
#lessonFlow .flip-container.hover .flipper {
    transform: rotateY(180deg);
}

#lessonFlow .flip-container,
#lessonFlow .front,
#lessonFlow .back {
	margin-top: 80px;
    width: 300px;
    height: 300px;
    border-radius: 30%;
}

#lessonFlow .front,
#lessonFlow .back {
    color: black;
    box-shadow: 10px 10px 5px #888888;
}

#lessonFlow .back p {
    padding-top: 90px;
    font-size: 20px;
    color: green;
}


/* flip speed goes here */

#lessonFlow .flipper {
    padding-top: 5%;
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
}


/* hide back of pane during swap */

#lessonFlow .front,
#lessonFlow .back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}


/* front pane, placed above back */

#lessonFlow .front {
    z-index: 2;
    /* for firefox 31 */
    transform: rotateY(0deg);
}

#lessonFlow .front h2 {
    margin-top: 60px;
    font-size: 40px;
}

#slogan {
	margin-top: 100px;
    color: #A7FFEB;
    text-shadow: 2px 2px black;
}



/* back, initially hidden pane */

#lessonFlow .back {
    transform: rotateY(180deg);
}

#lessonFlow .flip-container:first-child {
    margin-left: -50px;
    margin-right: 60px;
}

#lessonFlow .flip-container:nth-child(even) {
    margin-left: 100px;
    margin-right: 60px;
}

#lessonFlow .flip-container:last-child {
    margin-left: 100px;
}


/*The following is the styles for the main content 1 */


#examplesPage {
    height: 100vh;
    text-align: center;
    background: url(./public/pics/backgroundForExample.jpg);
    padding-top: 60px;
    position: relative;
}

#examplesPage h2{
    text-align: left;
    color:#FF9800;
    text-shadow: 2px 2px black;


}

#examplesPage .navbar img{
    width: 50px;
    height:50px;
    border-radius: 100%;
    box-shadow: 4px 4px 2px #888888;

}

#examplesPage .navbar{
    background-color: rgba(1,1,1,0);
    margin-top: -60px;
    padding-bottom: 10px;
    border-width: 0;
} 


#examplePic img{
    height: 400px;
    width: 500px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        margin-top: 50px;

}

#exampleTable{
 height: 400px;
    width: 500px;
border-style:none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    
    margin-left: 20px;

}

#exampleTable{
    font-size: 20px;
    margin-top: 50px;
}

#exampleTable th{
    padding-left: 40px;
}


#exampleTable .structureThings{
        padding-right: 40px;
        color:blue;

}

#exampleTable .structureYou{
        color:red;

}

#exampleTable .structureProposition{
        color:green;

}

#exampleTable .structurePlace{
        color:brown;

}

[disabled=disabled]{
    color:white;
    background-color: #c4c2c2;
    box-shadow:none; 
}

#examplesPage .assessment h3 {
/*position: absolute;
*/  bottom: 0px;
  margin: 0 auto;
  margin-top: 50px; 
font-size: 40px;
}

#examplesPage .assessment span{
        text-align: left;
    color:#FF9800;
    text-shadow: 2px 2px black;
}



#examplesPage p{
    color:#FF9800;
    text-shadow: 2px 2px black;
    font-size: 30px;
}

#examplesPage h4{
    margin-top: 30px;
    margin-bottom: 70px;
    font-size:22px;
}
/*The css code for the sort section is inspired by codeacademy's jQuery course */

#sortStructurePad{
margin-top: 0px;
    height:290px;
    margin-left: 50px;
background-color: white;
    margin-right: 50px;
    border-radius: 30%;
        box-shadow: 10px 10px 5px #888888;


}

#sortStructure{
    margin-top: 20px;
    margin-left: 20px;

}

#catAssessmentPic{
    height:290px;
    width: 310px;
    margin-left: 50px;
    border-radius: 30%;
    box-shadow: 10px 10px 5px #888888;

}

#Catvocabulary{
    margin-right: 50px;
    margin-left: 50px;
    height:290px;
    background-color: white;
    border-radius: 30%;

    box-shadow: 10px 10px 5px #888888;


}



#examplesPage #sortStructure{

margin-right: 50px;


}

#examplesPage #sortStructure ol {
    list-style-type: none;
    position: relative;
}


#examplesPage #sortStructure ol li {
    background: #eeeeee;
    border-radius: 5px;
    border: 1px solid black;
    margin: 3px;
    padding: 0.4em;
    font-size: 1.3em;
    height: 16px;
    font-family: Verdana, Arial, Sans-Serif;
    display:inline;
}

#examplesPage #sortStructure ol .ui-selected {
    background: #F39814; color: white;

}

#catFeedbackWrong{
    color:green;
    font-size:20px;
    text-decoration: none;
}

/*The following are the styles for the main content 2 */


#errors {
    height: 105vh;
    text-align: left;
    padding-top: 60px;
    color: black;
    background-size: cover;
}

#errors h2{
    text-align: left;
    color:#FF9800;
    text-shadow: 2px 2px black;

}

#errors p{
font-size: 15px;

}

#explainStructureCheck{
font-size: 20px;
}
#explainMeaningCheck{
font-size: 20px;
}

#explainUseCheck{
font-size: 20px;
}




.wellblue{
    background-color: #F4E8FF;
    padding-top:10px;
    padding-left:10px;
    padding-right:10px;
    padding-bottom:10px;
    border-radius: 10%;
    height:400px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

}
.important{
    text-align: center;
    font-size: 20px;
    color: #FF875B;
}
#errors .row h2{
    color:#FF5396
}

#errors img{
    width: 50px;
    height:50px;
    border-radius: 100%;
    box-shadow: 4px 4px 2px #888888;

}

#comprehensionChecking{
    text-align: center;
}


#comprehensionChecking button{
    margin-top: 50px;
width:180px;
height:70px;

}

#checkInstruction{
padding-top: 50px;
padding-bottom: -50px;
color:#FF49A3;
font-size: 30px;
text-shadow: 2px 2px black;

}

#comprehensionChecking span{
    color:#FF9800;
margin-bottom: -50px;
    text-shadow: 2px 2px black;
    cursor:pointer;
}

#errors .navbar{
    background-color: rgba(1,1,1,0);
    margin-top: -60px;
    padding-bottom: 10px;
    border-width: 0;

} 


#nextToFinal{
    text-decoration: none;
}
/*The following are the styles for the main content 3 */

#do{
    height: 100vh;
    background: url(./public/pics/backgroundForDo.jpg);
    background-size: cover;
    text-align: center;
    color:black;

}


#do h2{
    text-align: left;
color:#FF9800;
    text-shadow: 2px 2px black;


}

#do .navbar img{
    width: 50px;
    height:50px;
    border-radius: 100%;
    box-shadow: 4px 4px 2px #888888;

}

#do .navbar{
    background-color: rgba(1,1,1,0);
    margin-top: -60px;
    padding-bottom: 10px;
    border-width: 0;
} 

#do h4{

    text-align: left;
}

#do #essayResult span{
    color:brown;
    text-align: left;

}

#do p{
    font-size: 20px;
    text-align: left;
}

#do .well{
    padding-left: 20px;
}

#do h6{
    font-size: 60px;
    text-align: center;
    color: #FF9800;
    text-shadow: 2px 2px black;
}